.header{
    background: #435a3b;
    height: 130px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}

#logo {
    width: 80px;
    border-radius: 50%;
}
#menu{ 
    width: 500px;
    display: inline;
    display: flex;
    justify-content: end;
    padding-top: 30px;
    padding-right: 30px;
    gap: 50px;
    
}
.menuoptions{
    color: #435a3b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    box-sizing: border-box;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 8px;
    border-color: #253122;
    background-color: white;
    border-radius: 3pt;

}
.sidebar{
    padding: 50px;
    background-color: #88a380;
}
.main{
    display: flex;
}

.content {
    display:flex;
    flex-direction: row;
    flex: 1;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px;
}
.estrella{
    height: 30px;
    width: auto;
    
}
.estrellas{
    padding: 0px;
}
.section{
    padding:20px;
}
.section:nth-child(even){
    background-color: #f3f3f3
}

.section{
    padding:20px;
    
}
.section:nth-child(even){
    background-color: #f3f3f3
}
h2,h3,h4,p{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: rgb(82, 75, 75);
}

.card {
    flex: 1 1 250px; /* Todas las tarjetas tendrán al menos 250px de ancho */
    height: 250px; /* Altura fija para todas las tarjetas */
    box-shadow: 2px 2px 5px #18290a;
    margin: 15px;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    border: 2px solid #4CAF50;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.card1{
    width: 200px;
    height: 40px; /* Altura fija para todas las tarjetas */
    box-shadow: 2px 2px 5px #464545;
    margin: 15px;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    border: 2px solid #4CAF50;
}
.corazon{
    width: 30px;
    flex-direction: row;
}
.heart{
    display: flex;
    justify-content: flex-end;
    
}

button{
    width: 80px;
    border-radius: 30px;
    
}
.footer{ 
    background: #435a3b;
    font-size: 10pt;
    text-align: center;
    padding: 20px;
    
}

.footer a{
    color: white;
    display: flex;
    display: inline;
    padding-left: 100px;
}

